* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Source Sans Pro;
}

.search {
  border-radius: 10px;
  border: 1px solid red;
  padding: 2px 5px 7px 5px;
}

.top-header {
  padding: 1rem 0;
  align-items: center;
}

ul {
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #2e3131;
  font-size: 14px;
  letter-spacing: -1px;
}

.bottom-header {
  background-color: #e8ecf1;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.bottom-header .top-header {
  align-items: center;
}
.bottom-header nav {
  align-items: center;
}
.bottom-header button {
  background: rgb(239, 62, 66);
  padding: 10px;
  text-decoration: none;
  min-width: 100px;
  border-radius: 8px;
  transition: 0.3s;
  align-items: center;
  font-weight: 600;
  color: white;
  line-height: 1.5;
  border: none;
  opacity: 0.85;
}
.bottom-header button:hover {
  opacity: 1;
}
.bottom-header li {
  transition: 0.6s;
  padding: 0.5rem 0;
}

.right {
  width: 50%;
}
.right img {
  width: 100%;
}

.left {
  width: 50%;
}

h1 {
  font-size: 34px;
  font-weight: 400;
}
h1 b {
  font-weight: 600;
}

h2 {
  color: #f45369;
  font-size: 28px;
  font-weight: 600;
}

button {
  margin-top: 20px;
  background: rgb(239, 62, 66);
  padding: 10px;
  text-decoration: none;
  min-width: 100px;
  border-radius: 8px;
  transition: 0.3s;
  align-items: center;
  font-weight: 600;
  color: white;
  line-height: 1.5;
  border: none;
  opacity: 0.85;
  padding: 1rem 5rem;
}
button:hover {
  opacity: 1;
}

.top-main {
  background-color: #e8ecf1;
  position: relative;
  padding-bottom: 5rem;
}
.top-main .left {
  padding-top: 3rem;
}
.top-main .right {
  padding: 2rem;
  overflow: hidden;
}
.top-main .right img {
  transition: 0.6s;
}
.top-main .right:hover img {
  transform: scale(1.1);
}
.top-main .products {
  background-color: #f9fafb;
  border-radius: 10px;
}
.top-main .box {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  text-align: center;
  transition: 0.6s;
}
.top-main .box img {
  margin-top: 1rem;
  text-align: center;
  width: 50px;
}
.top-main .box svg {
  fill: rgb(239, 62, 66);
  width: 50px;
  margin-top: 1rem;
}
.top-main .box:hover {
  transform: scale(1.05);
}

.cards {
  position: absolute;
  left: 50%;
  bottom: -110px;
  transform: translateX(-50%);
}

.content-2 p {
  font-size: 18px;
}

.birkart {
  background-color: #e9ecf0;
  padding: 2rem 0;
}
.birkart .container-xxl {
  position: relative;
}
.birkart img {
  position: absolute;
  right: 8rem;
  bottom: 0;
  width: 350px;
}
.birkart .birkart-left {
  width: 30%;
}

@media (max-width: 768px) {
  .cards .box {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .top-main .left {
    width: 100%;
  }
  .top-main .right {
    width: 100%;
  }
  .top-main .container {
    flex-wrap: wrap;
  }
  .start {
    flex-direction: column-reverse;
  }
  .start .right {
    background-color: white;
  }
}
@media (max-width: 992px) {
  .bottom-header {
    display: none;
  }
  .content {
    text-align: center;
  }
  .cards {
    position: relative;
  }
  .cards .box {
    gap: 15px;
  }
  .media {
    display: none;
  }
  .birkart {
    margin-top: 8rem;
  }
  .birkart .container-xxl {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 13rem;
    padding-bottom: 6rem;
  }
  .birkart .container-xxl > div {
    width: 100%;
    text-align: center;
  }
  .birkart .container-xxl img {
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .birkart .container-xxl button {
    width: 95%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */