*{
    margin: 0%;
    padding: 0%;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: Syne,serif;
    position: relative;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
a{
    cursor: pointer;
}
.different{
    font-family: EB Garamond,serif;
    color: #626262;
    font-size: 23px;
    font-weight: 400;
}
.container{
    width: 77.7%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

/* start header  */

#top-head{
    min-height: 70px;
    transition: all 0.3s;
}
#top-head::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: white;
    opacity: 0.3;
}
#top-head .container{
    display: flex;
    justify-content: space-between;
}
#top-head .container img{
    height: 3rem;
    margin-right: 1.5rem;
}
#top-head .container #logo>a:first-child{
    display: flex;
    align-items: center;
}
.name{
    color: #232323;
    font-size: 1.0525rem;
    text-transform: uppercase;
}
header .name{
    margin-left: 1rem;
    margin: auto 0;
    font-weight: 700;
}
#logo{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
}
header ul a:hover{
    border-bottom: 2px solid black;
}
header ul a{
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 0;
}
/* End navbar  */

/* start bottom header  */
header{
    background-image: url(../images/background9.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: white;
    opacity: 0.5;
}
header ul li{
    margin-right: 2rem;
}
#nav-bar{
    display: flex;
    align-items: center;
}
#icons{
    display: flex;
    align-items: center;margin-right: 1rem;
}
#facebook{width: 15px;}
#twitter{width: 22px;}
#instagram{width: 22px;}
header #icons a{
    padding: 0.8rem;
    padding-top: 1.5rem;
}
#siledes{
    width: 100%;

    height: 80%;
}
/* End bottom header */

/* End header */

/* Start main */

/* Start about section */
.left-con{
    width: 50%;
    position: relative;
}
.right-con{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#siledes .container{
    display: flex;
}
h1{
    position: relative;
    font-size: 2.9376rem;
    line-height: 1.1;
    color: #232323;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
}
.left-con>div{
    margin: 50% 10%;
}
button{
    display: inline-block;
    background-color: transparent;
    border-color: #ff2b09;
    color: #000000;
    cursor: pointer;
    padding: 0.6rem 2.8rem;
    font-weight: 600;
    border-width: 2px;
    font-size: 1rem;
    margin-top: 1rem;
}
.right-con>img{
    height: 60%;
}
#about h1{
    text-align: center;
    margin: 5rem;
}

/* Start cards section */

#cards{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin-bottom: 5rem;
}
.card{
    width: 31.7%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 2rem 3rem 4rem 3rem;
}
#cards>.card:last-child{
    padding-top: 1.5rem;
}
.card svg{
    width: 25%;
    fill: red;
}
.card img{
    width: 30%;
}
.card h3{
    margin: 1rem 0;
    font-size: 1.0525rem;
    font-weight: bold;
    line-height: 1.5;
}

/* End cards section */

#search{
    display: flex;
}
#search .container{
    display: flex;
}
#search .right-con img{
    width: 95%;
    height: 90%;
}
#search h1{
    text-align: left;
    margin-left: 0%;
    margin-bottom: 1rem;
}

#search .left-con{
    padding: 5rem 2rem 5rem 7rem;
}
#search li{
    width: 90%;
    margin: 1rem 0;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    color: #000000;
    font-size: 1.0525rem;
    font-weight: bold;

}
#search a{
    color: #000000;
}
#check{
    background-color: #f2f2f2;
    padding: 7rem;
    margin-top: 8rem;
}
.like-button{
    text-align: center;
    font-weight: 700;
    color: #626262;
    cursor: pointer;
    padding: 0.5rem 0;
}
.like-button:hover{
    border-bottom: 2px solid red;
    color: red;
    margin-bottom: -2px;
}
#check>div{
    text-align: center;
    margin-top: -4rem;
}
/* End  about section */

/* Start products-info section */

.left-con>img{
    width: 98%;
}
#products-info .container:first-child{
    display: flex;
}
#products-info .left-con{
    text-align: right;
}
#products-info .right-con{
    padding-left:7rem;
    flex-direction: column;
    align-items: start;
}
#first .right-con p{
    margin-bottom: 15px;
}
button:hover{
    background-color: #ff2b09;
    color: white;
}
#products-info div{
    margin-top: 5rem;
}
#second .right-con{
    background-color: #f2f2f2;
    align-items: center;
    padding: 0rem;
}
#second .right-con img{
    width: 33%;
    height: auto;
    margin-bottom: 1rem;
}
#second .right-con strong{
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.1;
    text-align: center;
}
#second .right-con a{
    margin-top: 1.5rem;
}
#second .left-con img{
    height: 100%;
}
#third .left-con{
    text-align: left;
    padding-right: 5rem;
    padding-top: 4rem;
}
#third .left-con p{
    margin-bottom: 1rem;
}
#third .right-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    padding-left: 1rem;
}
#third .right-con div{
    width: 47%;
    height: 100%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
#third .right-con div p{
    margin-bottom: 2rem;
}
#third .right-con div:first-child{
    background-image: url("../images/item1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#third .right-con div:last-child{
    background-image: url("../images/item2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#third .heading, #contact .heading{
    text-align: center;
    margin-top: 10rem ;
    margin-bottom: 5rem;
}

#products-info .product-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.pro-card{
    width: 31.5%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 2.5rem;
}
.pro-card.top.first{
    background-image: url("../images/item1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-card.top.second{
    background-image: url("../images/item2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-card.top.third{
    background-image: url("../images/item3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#products-info .product-cards .pro-card{
    margin-top: 2rem;
}
#products-info{
    margin-bottom: 5rem;
}

/* End Products-info section */

/* Start contact section */
#logos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    position: relative;
    opacity: 0.7;
}
#logos img{
    width: 120px;
}
#contact-us{
    display: flex;
}
#contact-us>div:first-child{
    padding: 7rem 10rem 3rem 3rem;
}
#contact-us>div:last-child{
    padding: 7rem 0 3rem ;
    margin-left: 3rem;
}
#contact-us>div:last-child{
    width: 50%;
}
input{
    border-radius: 0%;
    padding: 25px 30px;
    background-color: white;
    border: 2px solid #cdcdcb;
    min-height: 48px;
    color: #232323;
    height: auto;
    margin-right: -5px;
    width: 50%;
}
textarea{
    width: 99.7%;
    border-radius: 0%;
    padding: 25px 30px;
    background-color: white;
    border: 2px solid #cdcdcb;
    min-height: 48px;
    color: #232323;
    height: 7rem;
    margin-right: -5px;
    margin-top: -2px;
}
#contact-us form button{
    padding-left: 19px;
    padding-right: 19px;
}
::placeholder{
    font-size: 1rem;
}
#contact-us .different{
    margin-bottom: 1rem;
}
#contact-us a{
    display: block;
    color: #000000;
    font-size: 16.84px;
}
#contact-us a:hover{
    color: #ff2b09;
}
#contact-us h2{
        font-size: 30px;
}

/* End contact section */

/* Start footer */

