#cards{
    width: 100%;
    height: 67vh;
    border: 1px dashed rgb(125, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 20%;
    height: 90%;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(139, 139, 139),-5px -5px 10px rgb(139, 139, 139) ;
    position: relative;
}
img{
    width: 100%;
    height: 40%;
}
.date{
    font-size: 0.7rem;
    color: rgb(108, 108, 108);
    font-weight: 500;
    margin-top: 10px;
    color: rgb(191, 191, 191);
}
.card p,.card h3{
    margin:10px 20px;
}
h3{
    font-weight: 700;
    color: rgb(87, 87, 87);
    font-size: 1.2rem;
}
.info{
    color:rgb(108, 108, 108) ;
    margin-bottom: 10px;
}
.more{
    text-decoration: none;
    color:rgb(108, 108, 108) ;
    cursor: pointer;
    display: inline-block;
    margin-top: 35px;
    margin-right: 10px;
    margin-left: 20px;
}
.like,.comment,.heart{
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top:10px;
    right: 10px;
    display: none;
}
.card:hover svg{
    display: inline-block;
}
.like{
    top:70px;
}
.comment{
    top:130px;
}
h1{
    text-align: center;
}
.like:hover,.comment:hover,.heart:hover{
    top:5px;
    right: 5px;
    width: 35px;
    height: 35px;
    background-color: #0ab4b4;
    fill: white;
}
svg:hover path{
    color: white;
}
.like:hover{
    top:65px;
    color: white;
}
.comment:hover{
    top:125px;
}
.card div{
    display: inline-block;
}
div>a{
    margin: 0%;
    padding: 0%;
    display: inline;
}
.bottom{
    width: 20px;
    height: 20px;
    fill:rgb(87, 87, 87) ;
}
.bottom:hover{
    width: 30px;
    height: 30px;
}