*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#fff;
    margin-right: 5px;
    cursor: pointer;
}
.active{
    background-color: black;
}
.dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateY(-50%);
}